* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #7e7e7e;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.code {
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.code img {
  width: 48px;
}

.shadow {
  -webkit-box-shadow: 0px 2px 6px 1px #9a9a9a;
  box-shadow: 0px 2px 6px 1px #9a9a9a;
}

.silent-border {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.sorting-wrapper {
  padding: 2rem;
  font-size: 1.5rem;
}

.sorting-wrapper h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 1px
}

.user-card.show {
  -webkit-animation: show 300ms ease-in-out forwards;
  animation: show 300ms ease-in-out forwards;
}

.user-card.hide {
  -webkit-animation: hide 300ms ease-in-out forwards;
  animation: hide 300ms ease-in-out forwards;
  display: none;
}

.user-image {
  -ms-flex-preferred-size: 160px;
  flex-basis: 160px;
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.user-image img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 5px 2px #b3b3b3;
  box-shadow: 0px 1px 5px 2px #b3b3b3;
}

.user-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.user-info p {
  padding: .3rem 0;
}

.title-text {
  color: #656565;
  font-weight: 500;
  padding: .5rem 0;
  text-shadow: 1px 1px 1px #b3b3b3;
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem;
  margin: 2rem 0;
}

.radio-inputs>input {
  cursor: pointer;
}

.radio-inputs>label {
  cursor: pointer;
  font-size: 2rem;
  padding: 0 1.5rem 0 .5rem;
}

.search-input {
  position: relative;
  text-align: center;
}

.search-input input {
  padding: .7rem;
  font-size: 1.2rem;
  width: 0px;
  -webkit-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
  border: 1px solid transparent;
  margin-left: 1.5rem;
}

.search-input input:focus {
  width: 250px !important;
}

.search-input img {
  cursor: pointer;
  position: absolute;
  width: 36px;
  top: 5px;
  right: 10px;
  vertical-align: middle;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@media (max-width: 760px) {
  .filter-wrapper {
    padding: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .filter-wrapper label {
    font-size: 1.3rem;
  }
  .search-input {
    margin: 1rem auto 0;
  }
  .search-input input {
    margin: 0;
  }
  .user-card {
    display: block;
  }
  .user-image {
    margin-bottom: 1rem;
  }
}